// Here you can add other styles

.lagkZY, .heJwJj{background:red !important}
.multiple_date_field .ant-form-item-control .ant-form-item-children input {
    height: 32px;
    line-height: 27px;
    border: 1px solid #d9d9d9 !important;
    box-shadow: none !important;
    width: 100%;
    text-overflow: ellipsis;
}