//common style for all
.mar-rig-10{margin-right:10px;}


// Here you can add other styles

.lagkZY, .heJwJj{background:#59c8e7 !important;
  height: 341px !important;}
.multiple_date_field .ant-form-item-control .ant-form-item-children input {
    height: 32px;
    line-height: 27px;
    border: 1px solid #d9d9d9 !important;
    box-shadow: none !important;
    width: 100%;
    text-overflow: ellipsis;
}


//login page css
.login_bg {
    background :'red';
    background-position: left top,right bottom;
    background-repeat: no-repeat,no-repeat;
    background-size: 90%,20%;
    min-height: 100vh;
  }
  
  @media only screen and (min-width: 1024px) {
    .login_bg {
      background-size: 100%,20%;
    }
  }
  
  @media only screen and (min-width: 1224px) {
    .login_bg {
      background-size: 100%,20%;
    }
  }
  
  @media only screen and (min-width: 1324px) {
    .login_bg {
      background-size: 100%,20%;
    }
  }


  //inner pages accordion tab design
  .fixed-widgets{
    position: fixed;
    
    z-index: 2147483640;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    bottom: 50%;
    right: 0px;
    background: #888585fa;
    padding: 4px;
    border-radius: 20px 0px 0px 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

  }
  a.fixed-widgets i.fa-history {
    color: #333;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    -webkit-transition: color .3s;
    transition: color .3s;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 22px;

}


a.fixed-widgets span {
    display: none;
}
a.fixed-widgets span {
padding:10px;
}

a.fixed-widgets {
    padding: 2px;
    -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
        -webkit-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out;
    display:block
}
a.fixed-widgets:hover i{-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;}
a.fixed-widgets:hover span, a.fixed-widgets i{display:inline-block;float:left;width:130px;color:#fff;   -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;}




//splitter css start
.splitter-layout {
  position: relative !important;}
//splittr css end

 i.anticon.anticon-right.ant-collapse-arrow {
  font-weight: 900;
  width: 48px;
  height: 48px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  color: #fff;
  border: 5px solid #ddd;
  position: absolute;
  top: 21px !important;
  left: -6px !important;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 14px;
  background: #fff;
  }
  
.cust_tabs_card .ant-collapse > .ant-collapse-item > .ant-collapse-header, .ant-collapse-item .ant-collapse-header {

    padding: 13px 46px !important;
    line-height: 10px !important;
    border-radius: 120px 0px 0px 120px !important;
  }
  
.cust_tabs_card .ant-collapse-item {
    margin: 0px;
    padding: 5px;
    border-bottom: none !important;
  }
  
.cust_tabs_card .ant-collapse-content.ant-collapse-content-active {
    border-top: none !important;
  }
  .ant-collapse-content {
       border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
}
.cust_tabs_card .ant-collapse.ant-collapse-icon-position-left {
    padding: 5px;
  }
  /*inner page accordion tab design end*/
/*Css for inner contents of tab start*/
.MuiTable-root th.MuiTableCell-root, .ant-table-thead > tr > th {
    background: #59c8e7 !important;
    color:#fff !important;
}
/*Css for inner contents of tab end*/
  /*button css start */

  .ant-btn, .sc-VigVT.dsKVpZ, .MuiButton-containedPrimary {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border-radius: 0px !important;
    background-color: #1890ff !important;
    border-color: #1890ff !important;
    color: #FFF !important;
    transition: all 0.3s ease 0s;
  }
  .ant-btn:hover, .dsKVpZ:hover, .MuiButton-containedPrimary:hover {
    background-color: #40a9ff !important;
    border-color: #40a9ff !important; }

      /*button css end*/

      .sidebar .nav-link {
 color: #c7b5b5;}

/*dashboard chart css start*/
.cust_charts_group .card-header, .Cust_Eligibility_form_wizard_group.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #59c8e6;
  border-bottom: 1px solid #c8ced3;
  color: #fff;
  background: #59c8e6;
  background: -moz-linear-gradient(left, #59c8e6 1%, #86d0e0 50%, #88d6e6 53%, #64bee2 100%);
  background: -webkit-linear-gradient(left, #59c8e6 1%,#86d0e0 50%,#88d6e6 53%,#64bee2 100%);
  background: linear-gradient(to right, #59c8e6 1%,#86d0e0 50%,#88d6e6 53%,#64bee2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59c8e6', endColorstr='#64bee2',GradientType=1 );

  height: 40px;
  line-height: 15px;}

.cust_charts_group .card small.text-muted {
  display: none;
}
/*dashboard css end*/
/*Eligibility Calculator cs start*/
.MuiStepIcon-root.MuiStepIcon-active {
   width: 48px;
  height: 48px;
  margin-top: 0;
  // background: #6753D8;
  font-size: 22px;
  line-height: 48px;
  border-radius: 50%;
}
svg.MuiSvgIcon-root.MuiStepIcon-root {
  width: 48px;
  height: 48px;
  margin-top: 0;
  // background: #6753D8;
  font-size: 22px;
  line-height: 48px;
  border-radius: 50%;
}
.MuiStepConnector-alternativeLabel {
  top: 26px !important;
  left: calc(-50% + 25px) !important;
  right: calc(50% + 23px) !important;
}
/*Eligibility Calculator css end*/


/**modal css*/
.ant-modal-body {
  overflow-y: scroll;
  max-height: 400px;
  height: auto;
 
}

/*sidebar css*/
.sidebar {
  z-index: 1 !important;
}

/*Rules engine custo Sidebar css*/
.RulesEnginerightSidebar .ant-collapse {
  border-radius: 200px !important;}
aside.ant-layout-sider.ant-layout-sider-dark, ul.ant-menu {
  background-color: #f8f8f8 !important;
  border-color: #e7e7e7;
}
li.ant-menu-submenu-open .ant-menu-submenu-title {
 
  color: #555;
  background-color: #e7e7e7;
}





